<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InstaNoodle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>InstaNoodle</h1>
<a href="{{ url_for('submit_review') }}" class="submit-link">Submit a new review</a>

<form method="get" action="{{ url_for('home') }}" class="filter-form">
    <select name="company">
        <option value="">All Companies</option>
        {% for category in categories %}
            <option value="{{ category.company }}">{{ category.company }}</option>
        {% endfor %}
    </select>
    
    <select name="spiciness">
        <option value="">All Spiciness</option>
        {% for spiciness in spiciness_values %}
            <option value="{{ spiciness }}">{{ spiciness }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Filter">
</form>

<div class="reviews-container">
    {% for noodle in noodles %}
        <div class="review-card">
            <h3 class="noodle-name">{{ noodle.name }}</h3>
            <p class="noodle-review">{{ noodle.review }}</p>
            <div class="review-card-bottom">
                <span class="noodle-rating star-rating">
                    Rating: 
                    {% for i in range(noodle.rating) %}⭐{% endfor %}
                    {% for i in range(5-noodle.rating) %}☆{% endfor %}
                </span> 
                <span class="noodle-company">Company: {{ noodle.category.company }}</span>
                <span class="noodle-spiciness chili-rating">
                    Spiciness: 
                    {% for i in range(noodle.spiciness) %}🌶{% endfor %}
                </span>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>
