<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Noodle Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include "navbar.html" %}

    <h1>Submit Noodle Review</h1>

    <form action="{{ url_for('submit_review') }}" method="post" class="submit-form" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="review">Review:</label>
        <textarea id="review" name="review" required></textarea><br>
        
        <label>Rating:</label>
        <div class="rating-container">
            <input type="radio" name="rating" value="1" id="rating1" required><label for="rating1">⭐</label>
            <input type="radio" name="rating" value="2" id="rating2"><label for="rating2">⭐⭐</label>
            <input type="radio" name="rating" value="3" id="rating3"><label for="rating3">⭐⭐⭐</label>
            <input type="radio" name="rating" value="4" id="rating4"><label for="rating4">⭐⭐⭐⭐</label>
            <input type="radio" name="rating" value="5" id="rating5"><label for="rating5">⭐⭐⭐⭐⭐</label>
        </div>

        <label>Spiciness:</label>
        <div class="spiciness-container">
            <input type="radio" name="spiciness" value="1" id="spice1" required><label for="spice1">🌶</label>
            <input type="radio" name="spiciness" value="2" id="spice2"><label for="spice2">🌶🌶</label>
            <input type="radio" name="spiciness" value="3" id="spice3"><label for="spice3">🌶🌶🌶</label>
            <input type="radio" name="spiciness" value="4" id="spice4"><label for="spice4">🌶🌶🌶🌶</label>
            <input type="radio" name="spiciness" value="5" id="spice5"><label for="spice5">🌶🌶🌶🌶🌶</label>
        </div>

        <label for="company">Company:</label>
        <select name="company" id="company" required>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.company }}</option>
            {% endfor %}
        </select><br>

        <!-- Added image upload input -->
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image"><br>
        
        <input type="submit" value="Submit" class="button">
    </form>

    <a href="{{ url_for('home') }}" class="button">Back to reviews</a>

</body>
</html>
